.search {
  &-filters {
    position: relative;
    width: 400px;
    box-sizing: border-box;
    margin: 1em;
    min-width: 300px;

    .filters {
      display: flex;
      flex-direction: column;

      &-wrapper {
        // position: fixed;
        overflow: scroll;
        margin-top: 2em;
        background-color: white;
        width: 85%;
        padding: 1em;
        min-height: 250px;
      }

      label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
      }
      input {
        margin-right: 10px;
      }
    }

    h3 {
      font-weight: bold;
      font-size: 1.25rem;
      padding: 1em 0;
    }

    .rich-filters {
      label {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
      }
      input,
      select {
        margin-right: 10px;
        border: 1px solid lightgray;
        margin: 0.8em 0;
        width: 90%;
        border-radius: 5px;
        height: 20px;
        padding: 0 0.5em;
        transition: padding 0.3s ease-in-out;

        &:focus {
          padding: 0.4em 0.5em;
        }
      }
    }
  }
}
