.search {
  &-filters {
    position: relative;
    width: 400px;
    box-sizing: border-box;
    margin: 1em;
    min-width: 300px;

    .filters {
      display: flex;
      flex-direction: column;

      &-wrapper {
        position: fixed;
        background-color: white;
        width: 15%;
        padding: 1em;
      }
    }

    h3 {
      font-weight: bold;
      font-size: 1.25rem;
      padding: 1em 0;
    }

    label {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    input {
      margin-right: 10px;
    }
  }
}
