.form-wrapper {
  width: 60vw;
  margin: 0 auto;
  height: 40vh;
  display: flex;
  align-items: center;

  label {
    display: none;
  }

  input {
    width: 60vw;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    padding: 1rem;

    &:focus,
    &:active {
      font-size: 2rem;
      padding: 1.3rem;
    }
  }
}

.search {
  display: flex;

  &-results {
    margin: 0 auto;
  }

  &-filters {
    width: 400px;
    border: 1px solid grey;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
  }

  &-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    width: 25%;
    height: 250px;
    padding: 1em;
    margin: 1em;
    border: 1px solid lightgrey;
  }
}

.no-results {
  text-align: center;
}
